<!DOCTYPE html>
<html lang="zh" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>illlights API Document</title>

    <!-- bootstrap -->
    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>

    <link rel="stylesheet" href="css\style.css">
  </head>


  <body>
    <h1>illlights.API</h1>
    <div class="mt-5">
      <h2>概述</h2>
      <hr>
      <h3>调用限制</h3>
      <p>
        由于服务器并发能力差，限制单ip每分钟60次调用，超过限制次数封锁600秒。
      </p>
    </div>

    <div class="mt-5">
      <h2>API</h2>
      <hr>
      <h3>Saying</h3>
      <div class="saying-div">
        <p class="saying-content"><%= sayingsContent %></p>
        <p class="saying-author">--- <%= sayingsAuthor %></p>
      </div>
      <p>简介：这是一个我摘抄句子的数据库，目前有<%= sayingsCount%>条数据，API随机返回一条摘抄。</p><br>
      <p>调用：get api.illlights.com/saying</p><br>
      <p>路径：仅调用英文句子 api.illlights.com/saying/en</p>
      <p>　　　仅调用中文句子 api.illlights.com/saying/zh</p><br>
      <p>
        返回：JSON格式。例如[{"_id":62d13a0527e31b20e3d0f09d, "content":"我只能选择天空/决不跪在地上/以显出刽子手们的高大/好阻挡自由的风", "type":"Poetry", "author":"北岛", "from":"宣告", "language":"zh"}]
      </p>
      <p>
        　　　content为内容，type为来源文本类型，author作者，from为来源文本标题。部分数据可能缺少author项。
      </p>

    </div>
  </body>

  <footer>
    <hr>
    <span> for Freedom && with ❤️ </span><br />
    <span>copyright© 2022 illlights</span>

  </footer>
</html>
